// colors
$color_primary: #fae3dd;
$color_secondary: #f9eae7;
$color_font: #48807f;

// fonts
$font_title: "Caveat", cursive;
$font_text: "Saira Condensed", sans-serif;

// shadows
$text_shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff,
  1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_text;
}

html {
  font-size: 62.5%;
  line-height: 1;
  color: $color_font;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s;

  &.active {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  text-shadow: $text_shadow;
}

.btn {
  font-size: 1.6rem;
  border: 2px solid $color_font;
  padding: 5px 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.main_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vh auto;
  animation: fadeIn 1s;
  min-height: 100vh;
}

.image_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    animation-duration: 1s;
    animation-delay: 1s;
  }
}

.info_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__text {
    width: 100%;
    height: 100%;
    background-image: url("./assets/frame2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    animation-duration: 1s;
    animation-delay: 1s;

    .cross {
      height: 80px;
      margin-bottom: 35px;
    }

    .header {
      font-size: 2rem;
      font-weight: 100;
      text-align: center;
      text-shadow: $text_shadow;
    }

    .title {
      font-family: $font_title;
      font-size: 4rem;
      text-shadow: $text_shadow;
    }

    .text {
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
      text-shadow: $text_shadow;
      max-width: 70%;
    }

    .mb {
      margin-bottom: 20px;
    }

    .date {
      font-size: 2rem;
      font-weight: 500;
      margin-top: 20px;
      text-shadow: $text_shadow;
    }

    .address {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      text-shadow: $text_shadow;

      img {
        height: 20px;
      }

      span {
        font-size: 1.6rem;
        text-shadow: $text_shadow;
      }
    }
  }
}

counter-clock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 15px auto;
  gap: 20px;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .value {
      font-size: 2rem;
      text-shadow: $text_shadow;
    }
  }
}

@media screen and (min-width: 768px) {
  .main_wrapper {
    grid-template-columns: auto 60vw;
    grid-template-rows: 1fr;
  }

  .info_wrapper {

    &__text {
      width: 100%;

      .cross {
        height: 80px;
        margin-bottom: 25px;
      }

      .header {
        font-size: 3rem;
        font-weight: 100;
      }

      .title {
        font-family: $font_title;
        font-size: 5rem;
      }

      .text {
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
      }

      .mb {
        margin-bottom: 20px;
      }

      .date {
        font-size: 3rem;
        font-weight: 500;
        margin-top: 30px;
      }
    }
  }

  .image_wrapper {
    height: 100%;

    img {
      object-position: center;
    }
  }
}
